@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'color.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', 'Arial';
}

//--Trabajando con el aside--//
.menu {
    min-height: 100vh;
    width: 20vw;
    background-color: $fondo-aside;
}

.menu__conteiner {
    height: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    left: 20px;
    margin-right: 20px;
    color: $letras-aside;
}

.menu__h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.menu__texto {
    margin-bottom: 20px;
}

.link {
    margin: 10px 0px;
    color: white;
    text-decoration: none;
    width: 90%;
    padding: 5px 10px;
}

.link:hover {
    background-color: $active-link;
}

.link__active {
    background-color: $active-link;
}

//--Trabajando con clientes--//
.clientes {
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $fondo-derecha;
}

.clientes__h2 {
    font-size: 20px;
    margin-top: 20px;
}

.clientes__conteiner--lista {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clientes__lista {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
        width: 200px;
        display: flex;
        justify-content: center;
    }
}

.clientes_lista--titulos {
    background-color: $fondo-lista;
    padding: 10px 0px;
    margin-top: 10px;
    border-radius: 10px;
}

.editar {
    color: $color-editar;
    text-decoration: none;
    margin: 0px 3px;
}

.eliminar {
    color: $color-eliminar;
    text-decoration: none;
    margin: 0px 3px;
}